body {
  font-family: "DM Sans", sans-serif;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-modal {
  animation: fadeInScale 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1CA893;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}