body {
    font-family: 'DM Sans', sans-serif;
    background-color: #f9fafb;
}

header {
    background-color: #1CA893;
    color: white;
}

h1,
h2,
h3 {
    color: #1CA893;
}

.content-section {
    max-width: 900px;
    margin: 40px auto;
    padding: 40px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 0.75rem;
}

p {
    margin-bottom: 20px;
    color: #4a5568;
    line-height: 1.6;
}

ul {
    margin-bottom: 20px;
    list-style-type: disc;
    padding-left: 20px;
    color: #4a5568;
}

li {
    margin-bottom: 10px;
}

.back-home {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.back-home:hover {
    opacity: 0.9;
}

footer {
    max-width: 77rem;
    /* 1232px */
    margin: 0 auto 2rem auto;
    padding: 0 1rem;
}

footer .border-t {
    border-top: 1px solid #e2e8f0;
    padding-top: 2rem;
}

.text-teal {
    color: #1CA893;
}

.text-teal:hover {
    text-decoration: underline;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #1CA893;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1CA893;
}